<h1>List of Articles</h1>

@{
    string article1 = "C# Course";
}

<p>Article 1: @article1</p>

@{
    string article2 = "Java Course";
    string article3 = "PHP Course";
    <p>
        Article 2: @article2
    </p>

    <p>
        Article 3: @article3
    </p>
}

